{% extends 'base.html.twig' %}

{% block title %}Hello CreateTodoController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Create a new todo</h1>

    {{ form_errors(createTodoForm) }}

    {{ form_start(createTodoForm) }}
        {{ form_row(createTodoForm.name) }}
        {{ form_row(createTodoForm.description) }}
        {{ form_row(createTodoForm.done) }}

        <button type="submit" class="btn btn-primary">Create a new todo</button>
    {{ form_end(createTodoForm) }}
</div>    
{% endblock %}
